[submodule "fh-guide-mobile-frontend"]
	path = fh-guide-mobile-frontend
	url = https://github.com/Lulon27/fh-guide-mobile-frontend.git

[submodule "fh-guide-backend"]
	path = fh-guide-backend
	url = https://github.com/Hueppy/fh-guide-backend.git

[submodule "FH-Guide-Frontend"]
	path = FH-Guide-Frontend
	url = git@github.com:Vapidz/FH-Guide-Frontend.git

